.meetjoining{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lobbyoptions{
   margin: 55px;
    display: flex;
    justify-content:space-between;
    align-items:center;

}

.lobbycontent{
    margin: 50px;
    display: flex;
    flex-direction: column;
}
.lobbycontent h2{
    margin-bottom: 15px
}

.lobbycontent button{
    margin-top: 15px
}

.localvideo video{
    margin-left: 55px;
    border-radius: 15px;
    width: 80%;
}

.meetvideocontainer{
    background-color: rgb(23, 23, 23);
    height: 100vh;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
   
}

.meetuservideo{
    position: absolute;
    bottom: 15vh;
    left: 10vh;
    height: 20vh;
    width: auto;
    border-radius: 15px;
}

.othervideos{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.othervideos .othervideo video{
    height: 40vh;
    width: 40vh;
    margin: 15px;
    border-radius: 10px;
    gap: 10px;
}

.buttoncontainers{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
    background-color: gray;
    height: 75px;
}

.buttoncontainers .icon-button {
    color: white;
    border-radius: 20px;
    
    font-size: 50px !important;
  }
  

  .buttoncontainers .icon-button svg{  /* svg are the elements like  <VideocamIcon /> <MicIcon /> they 
                                         are not the regular div or span so to style them we have to
                                           add svg*/
    font-size: 35px;
  }
  .buttoncontainers .handraised  ,  .buttoncontainers .videooff ,.buttoncontainers .micoff ,.buttoncontainers .chaton{
    background-color: white;
    color: black;
  }
 /* sab mai hover lagan pada kyuki akhri mai lagaya toh sirf akhri wale mai hi lagega */
  .buttoncontainers .handraised:hover,  .buttoncontainers .videooff:hover ,.buttoncontainers .micoff:hover ,.buttoncontainers .chaton:hover{
     background-color: white;
  }

.chatbox{
    position: absolute;
    right: 5vh;
    background-color: white;
    height: 60vh;
    width: 18vw;
    bottom: 15vh;
    border-radius: 15px;
}